#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define FN   3

/ {
    behaviors {
        hrm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hp: hold_preferred {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <200>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };

        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        hp_kp: hold_preferred_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <200>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &none &kp Q       &kp W        &kp E       &kp R       &kp T        &kp Y       &kp U       &kp I       &kp O        &kp P          &none
                &none &hrm LGUI A &hrm LCTRL S &hrm LALT D &kp F       &kp G        &kp H       &kp J       &hrm LALT K &hrm LCTRL L &hrm LGUI SEMI &none
                &none &kp Z       &kp X        &kp C       &kp V       &kp B        &kp N       &kp M       &kp COMMA   &kp DOT      &kp FSLH       &none
                                               &none  &hp_kp LSHFT TAB &hp NAV BSPC &tp NAV SPACE &hp SYM RET &none
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
                &none &kp ESC     &kp HOME     &kp UP      &kp END     &kp PG_UP    &none       &kp N7      &kp N8      &kp N9       &kp KP_SLASH   &none
                &none &kp LC(A)   &kp LEFT     &kp DOWN    &kp RIGHT   &kp PG_DN    &kp KP_MINUS &kp N4     &kp N5      &kp N6       &kp N0         &none
                &none &kp LC(Z)   &kp LC(X)    &kp LC(C)   &kp LC(V)   &kp LC(Y)    &kp COMMA   &kp N1      &kp N2      &kp N3       &kp KP_DOT     &none
                                               &none  &kp LS(TAB)      &mo FN       &mo FN      &kp RALT    &none
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
                &none &kp CARET   &kp LT       &kp GT      &kp DLLR    &kp PRCNT    &kp AT      &kp AMPS    &kp STAR    &kp SQT      &kp GRAVE      &none
                &none &kp LBRC    &kp LPAR     &kp RPAR    &kp RBRC    &kp EQUAL    &kp BSLH    &kp PLUS    &kp MINUS   &kp FSLH     &kp DQT        &none
                &none &kp TILDE   &kp LBKT     &kp RBKT    &kp UNDER   &kp HASH     &kp PIPE    &kp EXCL    &kp SEMI    &kp COLON    &kp QMARK      &none
                                               &none  &mo NAV          &kp SPACE    &trans      &trans      &none
            >;
        };

        fn {
            display-name = "FN";
            bindings = <
                &none &kp F1      &kp F2       &kp F3      &kp F4      &bt BT_CLR   &none       &kp C_PREV  &kp C_VOL_UP &kp C_BRI_UP &kp SLCK      &none
                &none &kp F5      &kp F6       &kp F7      &kp F8      &bt BT_SEL 0 &none       &kp C_PP    &kp C_MUTE   &kp C_AL_LOCK &kp PSCRN     &none
                &none &kp F9      &kp F10      &kp F11     &kp F12     &bt BT_SEL 1 &none       &kp C_NEXT  &kp C_VOL_DN &kp C_BRI_DN &kp INS       &none
                                               &none  &trans           &trans       &trans      &trans      &none
            >;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};